/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Open+Sans:wght@300;500&family=Playfair+Display:wght@600&display=swap');

/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #fff;
    background: radial-gradient(circle at 10% 20%, rgb(161, 255, 206) 0%, rgb(250, 255, 209) 90%);
}

/* body {
    background: url('../images/frosted.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */

.content {
    min-height: calc(100vh - 90px);
}

/* .pink-text {
    color: #886363;
    font-weight: 300;
} */

.page-title {
    padding-top: 5px;
    color: #212018;
    font-weight: 300;
    text-align: center;
}

/* Nav */

.navbar {
    padding: 1rem 1rem;
}

.navbar ul a {
    color: #009688;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #212018;
}

.nav-link-active {
    background-color: #38d6bc; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
}

.logo-image {
    height: 200px;
}

.profile-icon {
    padding-right: 5px;
}

/* Home Page */

.hero-text-outer {
    /* background-color: #d8f4d9; */
    min-height: 200px;
}

.hero-text {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #442E10;
}

.home-break {
    /* border-top: 1px solid #000; */
    margin: auto !important;
}

.slogan {
    color: #212018;
    font-weight: 300;
}


.feature-image {
    text-align: center;
    color: #3cc76f;
}

.feature-title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #212018;
    padding-top: 10px;
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 17px;
}

/* Recipe Cards */

.recipe-card:hover, .mealplan-card:hover {
    box-shadow: 0px 0px 4px #30c860 !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 250px;
}

.card-detail {
    border: none;
    color: #212018;
}

.recipe-detail-title {
    font-size: 20px;
}

.recipe-detail-title:first-letter{
    text-transform: capitalize
}

.draft {
    color: red;
}

/* Recipe Detail Page */

.recipe-title:first-letter {
    text-transform: capitalize
}

.recipe-detail-card {
    border: 0.5px solid #000;
}

.recipe-detail-img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    height:100%;
}

.recipe-detail-header {
    border: none;
    background-color: #d8f4d9;
    color: #212018;
}

.action-buttons-outer {
    position: absolute;
    bottom: 15px;
}

.action-btn {
    width: 40px;
}

.comment-action-btn a {
    padding-left: 5px;
    color: #128496
}

/* Add Recipe */

.add-recipe input, .add-recipe textarea, .add-recipe select {
    border: 1px solid #808080;
}

.add-recipe input[type=file] {
    border: none !important;
}

.add-recipe label {
    color: #555555;
    font-weight: bold;
} 

.clearablefileinput {
    color: #555555;
    border: none
}

.add-recipe #div_id_image a {
    color: #333333 !important;
}

/* meal plan page */

.mealplan-card .card-img-top {
    border-bottom: 1px solid #4fbd68;
}

.mp-icon {
    text-align: center;
    color: #4fbd68;
    padding-top: 60px;
}

.mealplan-card-header {
    background-color: #4fbd68;
    border-bottom: 1px solid #fff;
}

.mealplan-title {
    text-align: center;
    color: #442E10;
    font-weight: 300;
    font-size: 30px;
}

/* All auth templates */

.signup, .login {
    text-align: center;
    padding: 20px 0;
    border-radius: 2%;
    border: 1px solid #808080; /* Change border color to gray */
    background-color: #F0F0F0;
}

.signup input, .login input {
    width: 90%;
    border: 1px solid #808080;
    padding: 5px;
    margin: 5px 0 10px 0;
} 

.signup label, .login label {
    display: block;
    text-align: center;
    color: #333333;
    font-weight: bold;
}
.signup button, .login button {
    /* width: 100%;  */
    padding: 10px; 
    background-color: #4CAF50; 
    color: #FFFFFF; 
    border: 1px solid #367c39; 
}

.signup button:hover, .login button:hover{
    background-color: #45a049; 
}

.login label[for="id_remember"] {
    display: inline;
}

.login #id_remember {
    width: 20px;
    display: inline;
}

/* Footer */

.footer-container {
    border-top: 1px #000 solid !important;
}

.social-networks {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 30px;
    color: #4b5054;
}

.social-networks i:hover {
    color: #142a2b;
}

/* Media Queries */

/* For Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
    .hero-text {
        font-size: 35px;
    }
  
    .logo-image {
        height: 125px;
    }
}

/* Small devices (landscape phones, less than 768px */

@media screen and (max-width: 767.98px) {
    .landing-tagline {
        width: 100%;
    }
    
    .logo-image {
        height: 70px;
    }

    .social-networks i {
        font-size: 120%;
        padding: 0 20px;
    }

    .card-detail {
       width: 300px;
    }

    .mp-button, .action-btn {
        font-size: .75rem;
    }
}